default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  url: <%= ENV.fetch('DATABASE_URL', 'postgresql://resume_user:resume_pass@localhost:5432/resume') %>

production:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>
